<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>MUZI-K</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="img/favicon.png">
      <!-- Bootstrap core CSS-->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template-->
      <link href="css/osahan.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script th:inline="javascript">
      $(document).ready(function(){
         
            $('#replycall').on('click', '#replySend', function() { 
               
               event.preventDefault();
               let reply_no = $(this).attr("value");
               let reply_con = $(this).parents('.left').find('#reply-update').val()
               console.log("call")
               $.ajax({
                   url: "/replyUpdate" ,
                   type: 'POST',
                   contentType: 'application/json;charset=utf-8',
                   dataType: 'json',
                   data: JSON.stringify({
                     reply_num: reply_no,
                     reply_contents: reply_con
                   }),

                   success: function (data) {
                      location.reload()
                      if (data == true) {
                      }else console.log("x")
                   }

                 });
            }); 
        
         $('#replycall').on('click', '#replyDel', function() { 
               
               event.preventDefault();
               let reply_no = $(this).attr("value");
               console.log("call")
               $.ajax({
                   url: "/replyDelete" ,
                   type: 'POST',
                   contentType: 'application/json;charset=utf-8',
                   dataType: 'json',
                   data: JSON.stringify({
                     reply_num: reply_no,
                   }),
                   success: function (data) {
                      location.reload()
                      if (data == true) {
                      }else console.log("x")
                   }

                 });
            });
 
          });
      </script>
      <style>
      #replySend, #replyDel{
	      height : 30px;
	      width : 70px;
	      font-size: 8pt;
	      text-align: auto;
	      margin-top : 10px;
      }
      </style>
      
      
   </head>
   <body id="page-top">
      <nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
         &nbsp;&nbsp; 
         <button class="btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle">
         <i class="fas fa-bars"></i>
         </button> &nbsp;&nbsp;
         <a class="navbar-brand mr-1" th:href="@{main}"><img class="img-fluid" alt="" src="img/logo.png"></a>
         <!-- Navbar Search -->
         <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
            <div class="input-group">
            </div>
         </form>
         <!-- Navbar -->
         <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
            <li th:if="${session.user != null} and ${session.user.u_type} == 'a'" class="nav-item mx-1">
               <a class="nav-link" th:href="@{recodeInsert}">
               <i class="fas fa-plus-circle fa-fw"></i>
               음악 업로드
               </a>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
               <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-bell fa-fw"></i>
               <span class="badge badge-danger"></span>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
               </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
               <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-envelope fa-fw"></i>
               <span class="badge badge-success"></span>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
               </div>
            </li>
            
            <li th:if="${session.user == null}" class="nav-item dropdown no-arrow osahan-right-navbar-user">
               <a class="nav-link dropdown-toggle user-dropdown-link" th:href="@{login}">
               로그인
               </a>
            </li>
            
            <li th:if="${session.user == null}" class="nav-item dropdown no-arrow osahan-right-navbar-user">
               <a class="nav-link dropdown-toggle user-dropdown-link" th:href="@{signUp}">
               회원가입
               </a>
            </li>
            
            <li th:if="${session.user != null}" class="nav-item dropdown no-arrow osahan-right-navbar-user">
               <a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   <img th:if="${session.user.u_image != null}" alt="Avatar" th:src="@{../display3(u_path=${session.user.u_path}, u_image=${session.user.u_image})}">
               <img th:if="${session.user.u_image == null}" alt="Avatar" src="/img/default.png">
               [[${session.user.u_nick}]]
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
				  <a class="dropdown-item" th:href="@{mypage(u_id=${session.user.u_id})}"><i class="fas fa-fw fa-user-circle"></i> &nbsp; 마이페이지</a>
                  <a class="dropdown-item" th:href="@{userInfo}"><i class="fas fa-fw fa-cog"></i> &nbsp; 회원정보관리</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; 로그아웃</a>
               </div>
            </li>
         </ul>
      </nav>
      <div id="wrapper">
         <!-- Sidebar -->
         <ul class="sidebar navbar-nav">
            <li class="nav-item">
               <a class="nav-link" th:href="@{main}">
               <i class="fas fa-fw fa-home"></i>
               <span>Home</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" th:href="@{artistList}">
               <i class="fas fa-fw fa-users"></i>
               <span>아티스트</span>
               </a>
            </li>
            <li th:if="${session.user != null} and ${session.user.u_type} == 'a'" class="nav-item">
               <a class="nav-link" th:href="@{recodeInsert}">
               <i class="fas fa-fw fa-cloud-upload-alt"></i>
               <span>음악 업로드</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" th:href="@{playlist}">
               <i class="fas fa-fw fa-history"></i>
               <span>플레이리스트</span>
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-fw fa-list-alt"></i>
               <span>장르</span>
               </a>
               <div class="dropdown-menu">
                  <a th:each="dto : ${list3}" class="dropdown-item" th:href="@{recodeList(cat_name=${dto.cat_name})}">[[${dto.cat_name}]]</a>
               </div>
            </li>
            <li class="nav-item dropdown active">
               <a class="nav-link dropdown-toggle" th:href="@{communityList}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-fw fa-history"></i>
               <span>커뮤니티</span>
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" th:href="@{communityList}">모든 게시글</a>
                  <a th:if="${session.user != null}" class="dropdown-item" th:href="@{communityMypost(u_id=${session.user.u_id})}">나의 게시글</a>
                  <a class="dropdown-item" th:href="@{noticeList}">공지글 게시판</a>
               </div>
            </li>
         </ul>

         <div id="content-wrapper">
         <div class="container-fluid pb-0">
            <div class="video-block section-padding">
               <div class="row">
                  <div class="col-md-12">
                     <div class="main-title">
                        
                        <article class ="d-flex">
                        <div id="r2" class="container" role="main">
                           <a><img src="img/logo.png"></img></a>
                           <form name="actionForm" action="###" method="post">
                              <div class="mb-3">
                                 <input type="hidden" name="c_num" th:value="${CommunityDTO.c_num}">
                              </div>
                              <div class="mb-3">
                                 <label for="reg_id">작성자</label> <input type="text" class="form-control" name="u_nick" th:value="${CommunityDTO.u_nick}" readonly />
                                 <input type="hidden" class="form-control" name="u_id" th:value="${CommunityDTO.u_id}" readonly />
                              </div>
                              <div class="mb-3">
                                 <label for="reg_id">제목</label> <input type="text" class="form-control" name="c_title" th:value="${CommunityDTO.c_title}">
                              </div>
                              <div class="mb-3">
                                 <label for="content">내용</label>
                                 <textarea class="form-control" rows="5" name="c_contents" style="height: 400px;">[[${CommunityDTO.c_contents}]]</textarea>
                              </div>
                                                               
                              <div class="btn_area">       
                                  <a th:if="${session.user != null} and ${session.user.u_id} == ${CommunityDTO.u_id}" href="#" class="btn btn-outline-primary" th:onclick="|commu_update()|">수정</a>                                                                                 
                                  <a th:href="communityList" class="btn btn-outline-primary">목록</a>                                        
                                  <a th:if="${session.user != null} and ${session.user.u_id} == ${CommunityDTO.u_id}" href="#" class="btn btn-outline-primary" th:onclick="|commu_delete()|">삭제</a>                                             
                              </div>
                              </form>
                           <table class="container">
                                          <tr>
                                                <th colspan="2">여러분의 의견을 남겨주세요</th>
                                            </tr>
                                            <tr th:if = "${session.user != null}">
                                                <th>댓글등록</th>
                                                <td>
                                                    <form name="replyForm" action="replyForm" method="post" id="replyForm">
                                                    <input type="text" class="inputw290" name="u_nick" th:value="${session.user.u_nick}" style="margin-top:10px;" readonly="readonly">
                                                    <input type="hidden" class="inputw290" name="u_id" th:value="${session.user.u_id}" style="margin-top:10px;" readonly="readonly">
                                                        <input type="hidden" class="inputw290" name="c_num" th:value = "${param.c_num}" >
                                                        <textarea  class="form-control" name="reply_contents" required style="height: 150px; margin-top:10px;"></textarea>
                                                        <div class="btn_area">
                                             <button class="btn btn-outline-primary" style = "cursor:pointer;" type="submit">댓글 등록</button>
                                                        </div>
                                                    </form>
                                                    <hr size= "10px">
                                                </td>
                                            </tr>
                                            <!-- 댓글영역 -->

                                           <tbody id ="replycall" class="reply_container">
                                                   <hr size= "10px">                                              
                                                <tr th:each = "list : ${list}">
                                                   <th style="display:none" th:value ="${list.reply_num}"> [[${list.reply_num}]]</th>
                                                    <th >[[${list.u_nick}]]</th>
                                                    <td class="mb-3">
                                                        <div class="left">
                                                            <span>[[${ #temporals.format(list.reply_date, 'yyyy-MM-dd-HH:mm')}]]</span>
                                                            <p>[[${list.reply_contents}]]</p>
                                                            <div th:if="${session.user != null} and ${session.user.u_id} == ${CommunityDTO.u_id}" >
                                                            <button th:if="${session.user != null} and ${session.user.u_id} == ${list.u_id}"  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: #ECEFF0; border: 10px; width: 120px">댓글 수정</button>
                                                <div class="dropdown-menu">
                                                      <textarea class="form-control" cols="100" rows="100"
                                                             
                                                            id="reply-update" name="reply_contents" required style="height: 50px; margin-top: 10px;"></textarea>
                                                            <button class="btn btn-outline-primary" style = "cursor:pointer;" th:value ="${list.reply_num}" id="replySend" th:if="${session.user != null} and ${session.user.u_id} == ${list.u_id}" >댓글 수정</button>
                                                            <button class="btn btn-outline-primary" style = "cursor:pointer;" th:value ="${list.reply_num}" id="replyDel" th:if="${session.user != null} and ${session.user.u_id} == ${list.u_id}" >댓글 삭제</button>
                                                   </div>
                                                              </div>
                                                          <hr size= "10px">                                                             
                                                        </div>                                                        
                                                    </td>                                                
                                                </tr>                                                 
                                            </tbody>                                            
                                        </table>
                           </div>
                           </article>
                        </div>
                        </div>
                     </div>
                  </div>
                  <hr>

               </div>
               <!-- /.container-fluid -->
               <!-- Sticky Footer -->
               <footer class="sticky-footer">
                  <div class="container">
                     <div class="row no-gutters">
                        <div class="col-lg-6 col-sm-6"></div>
                        <div class="col-lg-6 col-sm-6 text-right">
                           <div class="app">
                              <a href="#"><img alt="" src="img/google.png"></a> <a
                                 href="#"><img alt="" src="img/apple.png"></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </footer>
            </div>
         <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">로그아웃을 원하시면 로그아웃 버튼을 눌러주세요.</div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="logout">Logout</a>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/custom.js"></script>
      
     
      
      <script th:inline="javascript">
   function commu_update() {
      
      event.preventDefault(); 
      document.actionForm.action = "communityUpdate";
      document.actionForm.submit(); //서브밋
   }
   
   function commu_delete() {
      event.preventDefault();
      document.actionForm.action = "communityDelete";
      document.actionForm.submit(); //서브밋
   }
</script>
   </body>

</html>