<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Askbootstrap">
      <meta name="author" content="Askbootstrap">
      <title>MUZI-K</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="img/favicon.png">
      <!-- Bootstrap core CSS-->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template-->
      <link href="css/osahan.css" rel="stylesheet">
      <!-- Owl Carousel -->
      <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
		
		$(document).ready(function(){
			if($('#u_id').val() == '' && $('#u_pw').val() == '' && $('#u_pw_ck').val() == '' && $('#u_email').val() == '' && $('#u_nick').val() == '' && $('#u_type').val() == ''){
				$('#signUp').attr('disabled', true);
			}
			
			$('#u_id').on('propertychange change paste input', function(){
				$.ajax({
					url: "/idCheck",
					type: "POST",
					dataType: "JSON",
					data: {"u_id" : $("#u_id").val()},
					success: function(data){
						var idValid = /^[a-zA-Z0-9]{5,20}$/;
						
						if(!idValid.test($("#u_id").val())){
							$('#idCheck').text('아이디는 5~20자의 영문, 숫자만 사용 가능합니다.').css('color', 'red');
							$('#signUp').attr('disabled', true);
						}
						else{
							if(data == 1){
								$('#idCheck').text('중복된 아이디입니다. 다시입력해주세요.').css('color', 'red');
								$('#signUp').attr('disabled', true);
							}
							else if(data == 0 && idValid.test($("#u_id").val())){
								$('#idCheck').text('사용 가능한 아이디입니다.').css('color', 'black');
								if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
									$('#signUp').attr('disabled', false);
								}
							}
						}
					}
				})
			})
			
			$("#u_nick").on('propertychange change paste input', function(){

				$.ajax({
					url: "/nickCheck",
					type: "POST",
					dataType: "JSON",
					data: {"u_nick" : $("#u_nick").val()},
					success: function(data){
						var nickValid = /^[a-zA-Z가-힣0-9]{3,20}$/;
						if(!nickValid.test($("#u_nick").val())){
							$('#nickCheck').text('닉네임은 3~20자의 영문, 숫자만 사용 가능합니다.').css('color', 'red');
							$('#signUp').attr('disabled', true);
						}
						else{
							if(data == 1){
								$('#nickCheck').text('중복된 닉네임입니다. 다시입력해주세요.').css('color', 'red');
								$('#signUp').attr('disabled', true);
							}
							else if(data == 0){
								$('#nickCheck').text('사용 가능한 닉네임입니다.').css('color', 'black');
								if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
									$('#signUp').attr('disabled', false);
								}
							}
						}
					}
				})
				
			})
			
			$('#u_email').on('propertychange change paste input', function(){
				$.ajax({
					url: "/emailCheck",
					type: "POST",
					dataType: "JSON",
					data: {"u_email" : $("#u_email").val()},
					success: function(data){
						var emailValid = /^[A-Za-z0-9-_]+@([A-Za-z0-9-]+\.)+[A-Za-z]{2,6}$/;
						if(!emailValid.test($("#u_email").val())){
							$('#emailCheck').text('이메일 형식으로 입력해주세요.').css('color', 'red');
							$('#signUp').attr('disabled', true);
							$('#sendCode').attr('disabled', true);
						}
						else{
							if(data == 1){
								$('#emailCheck').text('중복된 이메일입니다. 다시입력해주세요.').css('color', 'red');
								$('#signUp').attr('disabled', true);
								$('#sendCode').attr('disabled', true);
							}
							else if(data == 0){
								$('#emailCheck').text('사용 가능한 이메일입니다.').css('color', 'black');
								$('#sendCode').attr('disabled', false);
								if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
									$('#signUp').attr('disabled', false);
								}
							}
						}
					}
				})
			})
			
			$('#u_pw').on('propertychange change paste input', function(){
				var pwValid = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~$@$!%*#?&])[A-Za-z\d~$@$!%*#?&]{6,20}$/;
				if(!pwValid.test($("#u_pw").val())){
					$('#pwCheck').text('비밀번호는 6~20자의 영문, 숫자, 특수문자를 조합하여 사용 가능합니다.').css('color', 'red');
					$('#signUp').attr('disabled', true);
				}
				else{
					$('#pwCheck').text('사용 가능한 비밀번호입니다.').css('color', 'black');
					if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
						$('#signUp').attr('disabled', false);
					}
				}
			})
			
			$('#u_pw_ck').on('blur', function(){
				if ($('#u_pw').val() != $('#u_pw_ck').val()) {
					$('#pwCheck2').text("비밀번호가 서로 일치하지 않습니다").css('color', 'red');
					$('#u_pw').val('');
					$('#pwCheck').text('');
					$('#u_pw_ck').val('');
					$('#u_pw').focus();
					$('#signUp').attr('disabled', true);
				}
				else{
					$('#pwCheck2').text('비밀번호가 서로 일치합니다.').css('color', 'black');
					if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
						$('#signUp').attr('disabled', false);
					}
				}
			})
			
			$('#u_type').on('propertychange change paste input', function(){
				if($('#u_type').val() == ''){
					$('#typeCheck').text('가입 유형을 선택해주세요.').css('color', 'red');
					$('#u_type').focus();
					$('#signUp').attr('disabled', true);
				}
				else{
					$('#typeCheck').text('');
					if($('#u_id').val() != '' && $('#u_pw').val() != '' && $('#u_pw_ck').val() != '' && $('#u_email').val() != '' && $('#u_nick').val() != '' && $('#u_type').val() != ''){
						$('#signUp').attr('disabled', false);
					}
				}
			})
			/* 
			
			$('#u_image1').on('propertychange change paste input', function(){
				var fileForm = /^(.*?)\.(jpg|jpeg|png|gif|bmp|pdf.*)$/;
				if(!('#u_image1').val().match(fileForm)){
					$('#imageCheck').text('이미지 파일만 업로드 가능합니다.');
					$('#signUp').attr('disable', false);
				}
				else{
					$('#imageCheck').text('');
					$('#signUp').attr('disable', true);
				}
				
			}) */
			
		})
	  </script>
</head>
   <body class="login-main-body">
      <section class="login-main-wrapper">
         <div class="container-fluid pl-0 pr-0">
            <div class="row no-gutters">
               <div class="col-md-5 p-5 bg-white full-height">
                  <div class="login-main-left">
                     <div class="text-center mb-5 login-main-left-header pt-4">
                        <a th:href="@{main}"><img src="img/favicon.png" class="img-fluid" alt="LOGO"></a>
                        <h5 class="mt-3 mb-3">오신 것을 환영합니다.</h5>
                        <p>귀가 즐거울 수 있는 곳 <br> MUZI-K </p>
                     </div>
                     <form action="userForm" method="post" enctype="multipart/form-data">
                     	<div class="form-group">
                           <label>아이디 <span class="required">*</span></label>
                           <input type="text" class="form-control" name="u_id" id="u_id" placeholder="아이디를 입력해주세요." th:value="${dto == null ? '':dto.u_id}">
                           <span id="idCheck" style="color: red"></span>
                        </div>
                        
                        <div class="form-group">
                           <label>비밀번호 <span class="required">*</span></label>
                           <input type="password" class="form-control" name="u_pw" id="u_pw" placeholder="비밀번호를 입력해주세요." th:value="${dto == null ? '':dto.u_pw}">
                           <span id="pwCheck"></span>
                        </div>
                        <div class="form-group">
                           <label>비밀번호 확인 <span class="required">*</span></label>
                           <input type="password" class="form-control" name="u_pw_ck" id="u_pw_ck" placeholder="비밀번호를 다시 한번 입력해주세요." th:value="${dto == null ? '':dto.u_pw}">
                           <span id="pwCheck2"></span>
                        </div>
                        <div class="form-group">
								<label>이메일<span class="required">*</span></label>
								<input type="email" class="form-control" name="u_email" id="u_email" placeholder="이메일을 입력해주세요."
								th:value="${dto == null ? '':dto.u_email}">
								<button type="button" class="btn btn btn-primary" id="sendCode" onclick="fn_sendCode()"
								style="font-size: 15px; padding: 5px 5px">인증 번호 전송</button>
								<span id="emailCheck"></span>
								<br>
								<span id="emailSend"></span>
						</div>	
						<div class="form-group">
								<label>인증 번호 입력<span class="required">*</span></label>
								<input type="text" class="form-control" name="e_code" id="e_code" placeholder="인증번호를 입력해주세요."
								th:value="${e_code}">
								<button type="button" class="btn btn btn-primary" id="checkCode" onclick="fn_checkCode()"
								style="font-size: 15px; padding: 5px 5px">인증 번호 확인</button>
								<span>[[${e_code}]]</span>
								<span id="emailCertification"></span>
						</div>
                        <div class="form-group">
                           <label>닉네임 <span class="required">*</span></label>
                           <input type="text" class="form-control" name="u_nick" id="u_nick" placeholder="닉네임을 입력해주세요." th:value="${dto == null ? '':dto.u_nick}">
                           <span id="nickCheck"></span>
                        </div>                       
                        <div class="form-group">
                           <label class="control-label">유형 <span class="required">*</span></label>
                           <select  class="custom-select" name="u_type" id="u_type">
                              <option value="">유형 선택</option>
                              <option value="l">리스너</option>
                              <option value="a">아티스트</option>
                           </select>
                           <span id="typeCheck" style="color: red">가입 유형을 선택해주세요.</span>
                        </div>
                        <hr>
                        <div class="form-group">
							<label>프로필 사진을 선택해주세요. <span class="required"></span></label>
							<img id="preview" style="width: 60%; height: auto;" /> <br>
							<input type="file" accept="image/*" id="u_image1" name="u_image1" onchange="readURL(this);">
							<span id="imageCheck"></span>
						</div>
                        <div class="mt-4">
                           <button id="signUp" type="submit" class="btn btn btn-primary btn-block btn-lg">회원가입</button>
                        </div>
                        </form>
                     <div class="text-center mt-4">
                        <p class="light-gray">이미 계정이 있으신가요? <a th:href="@{login}">로그인</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="login-main-right bg-white p-5 mt-5 mb-5">
                     <div class="owl-carousel owl-carousel-login">
                        <div class="item">
                           <div class="carousel-login-card text-center">
                              <img src="img/login.png" class="img-fluid" alt="LOGO">
                              <h5 class="mt-5 mb-3">​Watch videos offline</h5>
                              <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                           </div>
                        </div>
                        <div class="item">
                           <div class="carousel-login-card text-center">
                              <img src="img/login.png" class="img-fluid" alt="LOGO">
                              <h5 class="mt-5 mb-3">Download videos effortlessly</h5>
                              <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                           </div>
                        </div>
                        <div class="item">
                           <div class="carousel-login-card text-center">
                              <img src="img/login.png" class="img-fluid" alt="LOGO">
                              <h5 class="mt-5 mb-3">Create GIFs</h5>
                              <p class="mb-4">when an unknown printer took a galley of type and scrambled<br> it to make a type specimen book. It has survived not <br>only five centuries</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Owl Carousel -->
      <script src="vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/custom.js"></script>
      <script>
      var f_code;
      
      function fn_sendCode() {
			$.ajax({
				url : "/sendCode",
				type : "POST",
				astnc : false,
				dataType : "text",
				data : {
					"u_email" : $("#u_email").val()
				},
				 success : function(data){
					 $('#emailSend').text("해당 이메일로 인증번호 발송이 완료되었습니다.").css('color', 'black');
			         f_code = data;
			         console.log("f_code : "+f_code);
			         console.log("data : "+data);
					}
			})
		}
    
		function fn_checkCode(){
			$.ajax({
				url : "/checkCode",
				type : "POST",
				dataType : "text",
				data : { 
					"e_code" : $("#e_code").val()
				},
				success : function(data){
					if(data == f_code){
						$('#emailCertification').text("인증 성공!").css('color', 'black');
					}else{
						$('#emailCertification').text("인증 실패! 다시 시도해주세요.").css('color', 'red');
					}
					console.log("f_code : "+ f_code);
					console.log("data : "+ data);
				}
			})
		}
      </script>
   </body>
   <script>
	function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      document.getElementById('preview').src = e.target.result;
		    };
		    reader.readAsDataURL(input.files[0]);
		  } else {
		    document.getElementById('preview').src = "";
		  }
		}
	
	</script>
</html>