<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.basic.community.CommunityMapper">
  	<insert id="communityRegist">
  		insert into community(u_id, c_title, c_contents, c_date)
  		values(#{u_id},#{c_title},#{c_contents}, now())
  	</insert>
  	
  	<select id="getList" resultType="CommunityDTO">
  		select c.*, u.u_nick
  		from community c
  		left join user u
  		on (c.u_id = u.u_id)
  		<if test="keyword != null">
  			where c_title like concat('%', #{keyword}, '%')
  		</if>
  		order by c_num DESC
  		limit #{pageStart}, #{amount}
  	</select>
  	
  	<select id="getMyPost" resultType="CommunityDTO" >
  		select c.*, u.u_nick
  		from community c
  		left join user u
  		on (c.u_id = u.u_id)
  		<if test="keyword != null">
  			where c_title like concat('%', #{keyword}, '%') and c.u_id = #{u_id}
  		</if>
  		<if test="keyword == null">
  			where c.u_id = #{u_id}
  		</if>
		order by c_num DESC
		limit #{pageStart}, #{amount}
  	</select>
  	
  	<select id="getTotal" resultType="int">
 		select count(*) as total
 		from community
 		<if test="keyword != null">
 			where c_title like concat('%', #{keyword}, '%')
 		</if>
 	</select>
 	
 	<select id="getMyTotal" resultType="int">
 		select count(*) as total
 		from community
 		<if test="keyword != null">
  			where c_title like concat('%', #{keyword}, '%') and u_id = #{u_id}
  		</if>
  		<if test="keyword == null">
  			where u_id = #{u_id}
  		</if>
 	</select>
 	
  	<select id="getDetail" resultType="CommunityDTO" >
  		select c.*, u.u_nick
  		from community c
  		left join user u
  		on (c.u_id = u.u_id)
  		where c_num = #{c_num}
  	</select>
  	
  	<update id="communityUpdate">
 		update community
 		set c_title = #{c_title},
 			c_contents = #{c_contents},
 			c_date = now()
 		where c_num = #{c_num}
 	</update>
 	
 	<delete id="communityDelete">
 		delete c, r from community c
 		left join reply r
 		on (c.c_num = r.c_num)
 		where c.c_num = #{c_num}
 	</delete>
 	
 	<delete id="userCommunityDelete">
 		delete 
  		from community
		where u_id = #{u_id}
 	</delete>
  </mapper>