<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.basic.reply.ReplyMapper">
	<insert id="replyRegist">
		insert into reply(c_num, u_id, reply_contents, reply_date)
		values(#{c_num}, #{u_id},#{reply_contents},now())
	</insert>

	<select id="replyList" resultType="ReplyDTO">
		select *
		from reply
		where c_num = #{c_num}
	</select>

	<select id="replyCount" resultType="ReplyDTO">
		select count(*)
		from community c left join reply r
		on c.c_num = r.c_num
	</select>
	<update id="replyUpdate">
		update reply
		set reply_contents = #{reply_contents} , reply_date = now()
		where reply_num = #{reply_num}
	</update>
	
	<update id="replyDelete">
		delete from reply
		where reply_num = #{reply_num}
	</update>
  	
  	
  	
  </mapper>