<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.basic.user.UserMapper">
  
  <insert id="userInsert">
  	insert into user(u_id, u_pw, u_email, u_nick, u_type)
  	values(#{u_id}, #{u_pw}, #{u_email}, #{u_nick}, #{u_type})
  </insert>
  
  <insert id="userImageInsert">
  	insert into user(u_image)
  	values(#{u_image})
  </insert>
  
  <select id="idCheck" resultType="int">
  	select count(*)
  	from user
  	where u_id = #{u_id}
  </select>
  
  <select id="nickCheck" resultType="int">
  	select count(*)
  	from user
  	where u_nick = #{u_nick}
  </select>
  
  <select id="login" resultType="UserDTO">
  	select u_id, u_pw, u_email, u_nick, u_type
  	from user
  	where u_id = #{u_id} and u_pw = #{u_pw}
  </select>
  
  <select id="myRecode1" resultType="RecodeDTO">
  	select * from record where u_id = #{u_id}
  </select>
  
  <select id="myRecode2" resultType="UploadDTO">
  	select * from upload
  </select>
  
  <update id="userUpdate">
  	update user set u_pw = #{u_pw},
  					u_email = #{u_email},
  					u_nick = #{u_nick},
  					u_type = #{u_type}
  					
  	where u_id = #{u_id}
  </update>
  
  <delete id="userDelete">
  	delete from user where u_id = #{u_id}
  </delete>
  
  <select id ="artistList" resultType = "userDTO">
  	select * from user where u_type = 'a'
  </select>
  </mapper>