<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.basic.user.UserMapper">
  
  <insert id="userInsert">
  	insert into user(u_id, u_pw, u_email, u_nick, u_type)
  	values(#{u_id}, #{u_pw}, #{u_email}, #{u_nick}, #{u_type})
  </insert>
  
   <insert id= "userImageInsert">
  <selectKey resultType = "String" keyProperty="u_id" order ="BEFORE"> 
     select max(u_id) as u_id from user where u_email = #{u_email}
     </selectKey>
     insert into u_imgupload ( u_path, u_image, u_id, u_email)
     values(#{u_path},#{u_image},#{u_id},#{u_email})
  </insert>
  
  <select id="idCheck" resultType="int">
  	select count(*)
  	from user
  	where u_id = #{u_id}
  </select>
  
  <select id="nickCheck" resultType="int">
  	select count(*)
  	from user
  	where u_nick = #{u_nick}
  </select>
  
  <select id="emailCheck" resultType="int">
  	select count(*)
  	from user
  	where u_email = #{u_email}
  </select>
  
  <select id="login" resultType="UserTotalDTO">
  	select u.u_id, u.u_pw, u.u_email, u.u_nick, u.u_type, u_img.u_path, u_img.u_image
  	from user u right join u_imgupload u_img on u.u_id = u_img.u_id
  	where u.u_id = #{u_id} and u.u_pw = #{u_pw}
  </select>
  
  <select id="myRecode1" resultType="RecodeDTO">
  	select * from record where u_id = #{u_id}
  </select>
  
  <select id="myRecode2" resultType="UploadDTO">
  	select * from upload
  </select>
  
  <update id="userUpdate">
  	update user set u_pw = #{u_pw},
  					u_email = #{u_email},
  					u_nick = #{u_nick},
  					u_type = #{u_type}
  					
  	where u_id = #{u_id}
  </update>
  
  <delete id="userDelete">
  	delete from user where u_id = #{u_id}
  </delete>
  
  <select id ="artistList" resultType = "UserDTO">
  	select  u.u_id as follower, u.u_nick, i.u_path, i.u_image, 
	(select count(*)
	from follow f1
	where f1.f_passiveUser = follower) as followerCount
	from user u
	inner join u_imgupload i
	on i.u_id = u.u_id 
	where u.u_type = 'a'
	order by u.u_nick
  </select>
  
  <select id="artistImgDetail" resultType="UserUploadDTO">
  	select * 
  	from u_imgupload
  	where u_id = #{u_id}
  </select>
  
  <select id ="loginArtistList" resultType = "UserDTO">
  	select  u.u_id as follower, u.u_nick, i.u_path, i.u_image, 
	(select count(*)
	from follow f1
	where f1.f_passiveUser = follower) as followerCount,
    (select count(*) 
  	from follow
  	where u_id = #{u_id} and f_passiveUser = follower) as isFollow
	from user u
	inner join u_imgupload i
	on i.u_id = u.u_id 
	where u.u_type = 'a'
	order by u.u_nick
  </select>
    <select id="sortList1" resultType="userDTO">
  	select  u.u_id as follower, u.u_nick, i.u_path, i.u_image, 
	(select count(*)
	from follow f1
	where f1.f_passiveUser = follower) as followerCount
	from user u
	inner join u_imgupload i
	on i.u_id = u.u_id 
	where u.u_type = 'a'
	order by followerCount desc;
  
  </select>
  
  

  </mapper>